In [1]:
import pandas as pd

In [2]:
degra_06_02 = pd.read_csv(r"C:\Users\MAITE\Wild Code School\SkyAnalytics\BDD\degradations_2024-06-02.csv")
degra_06_03 = pd.read_csv(r"C:\Users\MAITE\Wild Code School\SkyAnalytics\BDD\degradations_2024-06-03.csv")
degra_06_04 = pd.read_csv(r"C:\Users\MAITE\Wild Code School\SkyAnalytics\BDD\degradations_2024-06-04.csv")
degra_06_05 = pd.read_csv(r"C:\Users\MAITE\Wild Code School\SkyAnalytics\BDD\degradations_2024-06-05.csv")

In [4]:
degra_06_02.head(2)

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.308375,2024-06-01,False
1,D009402,E170_6353,REAE170-E170_6353-1,50.111950,2024-06-01,False

In [15]:
#voir toutes les valeurs dates contenues dans la colonne measure_day
degra_06_02['measure_day'].value_counts()

measure_day
2024-06-02    4455
2024-06-01    4365
2024-05-31    1350
2023-08-23     135
2023-09-04      45
2023-07-07      45
2023-07-02      45
2024-04-05      45
2024-01-21      45
Name: count, dtype: int64

In [14]:
#uniformiser le format string des dates
degra_06_02['measure_day'] = degra_06_02['measure_day'].str.replace(' 00:00:00', '')

In [16]:
#changer colonne measure_day en date
from datetime import datetime
degra_06_02['measure_day'] = degra_06_02['measure_day'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [21]:
degra_06_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10530 entries, 0 to 10529
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ref_deg           10530 non-null  object
 1   linked_aero       10530 non-null  object
 2   compo_concerned   10530 non-null  object
 3   usure_nouvelle    10530 non-null  float64
 4   measure_day       10530 non-null  datetime64[ns]
 5   need_replacement  10530 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), object(3)
memory usage: 421.7+ KB

In [19]:
#vérifier s'il y a des valeurs manquantes ou nulles
degra_06_02.isna().sum()

ref_deg             0
linked_aero         0
compo_concerned     0
usure_nouvelle      0
measure_day         0
need_replacement    0
dtype: int64

In [20]:
degra_06_02.loc[degra_06_02['usure_nouvelle'] == 0, :]

Empty DataFrame
Columns: [ref_deg, linked_aero, compo_concerned, usure_nouvelle, measure_day, need_replacement]
Index: []

In [27]:
degra_06_02.columns

Index(['ref_deg', 'linked_aero', 'compo_concerned', 'usure_nouvelle',
       'measure_day', 'need_replacement'],
      dtype='object')

In [34]:
#vérifier s'il y a des doublons
degra_06_02[degra_06_02[['ref_deg', 'linked_aero', 'compo_concerned']].duplicated() == True]

Empty DataFrame
Columns: [ref_deg, linked_aero, compo_concerned, usure_nouvelle, measure_day, need_replacement]
Index: []

In [37]:
degra_06_02[degra_06_02[['linked_aero', 'compo_concerned', 'usure_nouvelle','measure_day']].duplicated() == True]

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
10395,D003294,E170_5551,REAE170-E170_5551-0,32.09,2023-08-23,False
10396,D005386,E170_5551,REAE170-E170_5551-1,40.52,2023-08-23,False
10397,D004883,E170_5551,SYSE170-E170_5551-2,1.35,2023-08-23,False
10398,D003658,E170_5551,ORDE170-E170_5551-3,34.47,2023-08-23,False
10399,D008762,E170_5551,AUTE170-E170_5551-4,23.19,2023-08-23,False
...,...,...,...,...,...,...
10480,D001482,E170_5551,SYSE170-E170_5551-40,43.96,2023-08-23,False
10481,D006878,E170_5551,PORE170-E170_5551-41,9.30,2023-08-23,False
10482,D000419,E170_5551,HUBE170-E170_5551-42,40.04,2023-08-23,False
10483,D009981,E170_5551,ECLE170-E170_5551-43,56.67,2023-08-23,False
10484,D005733,E170_5551,SYSE170-E170_5551-44,40.56,2023-08-23,False

In [36]:
degra_06_02.loc[(degra_06_02['compo_concerned'] == 'REAE170-E170_5551-0') & (degra_06_02['linked_aero'] == 'E170_5551')]

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
1800,D001765,E170_5551,REAE170-E170_5551-0,33.47277,2024-06-01,False
1845,D008183,E170_5551,REAE170-E170_5551-0,32.09000,2023-08-23,False
10395,D003294,E170_5551,REAE170-E170_5551-0,32.09000,2023-08-23,False
10440,D001666,E170_5551,REAE170-E170_5551-0,32.09000,2023-08-23,False

Il y a 90 doublons dans la 1ere base : même composant - même avion avec plusieurs fois la même mesure de tx usure le même jour

In [52]:
10530-90

10440

In [53]:
#supprimer les doublons
# le nouveau df devra donc avoir 10530 - 90 lignes, soit 10440 lignes
clean_degra_06_02 = degra_06_02.drop_duplicates(subset=['linked_aero', 'compo_concerned', 'usure_nouvelle','measure_day'], keep='first')

In [54]:
clean_degra_06_02

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.308375,2024-06-01,False
1,D009402,E170_6353,REAE170-E170_6353-1,50.111950,2024-06-01,False
2,D000812,E170_6353,SYSE170-E170_6353-2,16.730575,2024-06-01,False
3,D006665,E170_6353,ORDE170-E170_6353-3,6.653075,2024-06-01,False
4,D001163,E170_6353,AUTE170-E170_6353-4,42.033525,2024-06-01,False
...,...,...,...,...,...,...
10525,D006322,CRJ700_2988,SYSCRJ700-CRJ700_2988-40,53.323168,2024-06-02,False
10526,D005497,CRJ700_2988,PORCRJ700-CRJ700_2988-41,16.392552,2024-06-02,False
10527,D005625,CRJ700_2988,HUBCRJ700-CRJ700_2988-42,34.551008,2024-06-02,False
10528,D003657,CRJ700_2988,ECLCRJ700-CRJ700_2988-43,36.706904,2024-06-02,False
10529,D000550,CRJ700_2988,SYSCRJ700-CRJ700_2988-44,13.740256,2024-06-02,False

In [55]:
#initialiser un dataframe historique à partir de la 1ere BDD du 02/06/2024
histo_degra = clean_degra_06_02
histo_degra

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.308375,2024-06-01,False
1,D009402,E170_6353,REAE170-E170_6353-1,50.111950,2024-06-01,False
2,D000812,E170_6353,SYSE170-E170_6353-2,16.730575,2024-06-01,False
3,D006665,E170_6353,ORDE170-E170_6353-3,6.653075,2024-06-01,False
4,D001163,E170_6353,AUTE170-E170_6353-4,42.033525,2024-06-01,False
...,...,...,...,...,...,...
10525,D006322,CRJ700_2988,SYSCRJ700-CRJ700_2988-40,53.323168,2024-06-02,False
10526,D005497,CRJ700_2988,PORCRJ700-CRJ700_2988-41,16.392552,2024-06-02,False
10527,D005625,CRJ700_2988,HUBCRJ700-CRJ700_2988-42,34.551008,2024-06-02,False
10528,D003657,CRJ700_2988,ECLCRJ700-CRJ700_2988-43,36.706904,2024-06-02,False
10529,D000550,CRJ700_2988,SYSCRJ700-CRJ700_2988-44,13.740256,2024-06-02,False

In [57]:
degra_06_03['measure_day'].value_counts()

measure_day
2024-06-03             3420
2024-06-02             3105
2024-06-01             3060
2024-05-31              675
2023-08-23 00:00:00     135
2023-07-07 00:00:00      45
2024-04-05 00:00:00      45
2024-01-21 00:00:00      45
Name: count, dtype: int64

In [58]:
#logiquement on garde que les degradations du jour du fichier (ici 02/06/2024)
daily_degra = degra_06_03.loc[degra_06_03['measure_day'] == '2024-06-03', :]

In [61]:
#changer le type de la colonne date
daily_degra['measure_day'] = daily_degra['measure_day'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

C:\Users\MAITE\AppData\Local\Temp\ipykernel_3804\3583825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_degra['measure_day'] = daily_degra['measure_day'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [63]:
daily_degra.isna().sum()

ref_deg             0
linked_aero         0
compo_concerned     0
usure_nouvelle      0
measure_day         0
need_replacement    0
dtype: int64

In [64]:
daily_degra.loc[daily_degra['usure_nouvelle'] == 0, :]

Empty DataFrame
Columns: [ref_deg, linked_aero, compo_concerned, usure_nouvelle, measure_day, need_replacement]
Index: []

In [65]:
#vérifier s'il y a des doublons
daily_degra[daily_degra[['ref_deg', 'linked_aero', 'compo_concerned']].duplicated() == True]

Empty DataFrame
Columns: [ref_deg, linked_aero, compo_concerned, usure_nouvelle, measure_day, need_replacement]
Index: []

In [66]:
daily_degra[daily_degra[['linked_aero', 'compo_concerned', 'usure_nouvelle', 'measure_day']].duplicated() == True]

Empty DataFrame
Columns: [ref_deg, linked_aero, compo_concerned, usure_nouvelle, measure_day, need_replacement]
Index: []

In [70]:
daily_degra[daily_degra[['linked_aero', 'compo_concerned', 'usure_nouvelle', 'measure_day']].duplicated() == True].count()

ref_deg             0
linked_aero         0
compo_concerned     0
usure_nouvelle      0
measure_day         0
need_replacement    0
dtype: int64

In [67]:
histo_degra.head(2)

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.308375,2024-06-01,False
1,D009402,E170_6353,REAE170-E170_6353-1,50.111950,2024-06-01,False

In [68]:
#créer une routine (fonction) pour automatiser les manip à chaque upload de bdd

measure_day
2024-06-04             5355
2024-06-02             1710
2024-06-03             1530
2024-06-01             1350
2024-05-31              315
2023-08-23 00:00:00     135
2023-07-07 00:00:00      45
2024-04-05 00:00:00      45
2024-01-21 00:00:00      45
Name: count, dtype: int64

In [ ]:
#concatener les 2 fichiers